<div class="modal-movie-card" data-id={{id}}>
    <div class="modal-poster-container">
        <img src="{{backdrop_path}}" alt="{{original_title}} poster">
    </div>
    
    <div class="card-descr-container">
    
        <h1 class="modal-movie-title">{{title}}</h1>
    
        <p class="vote">Vote / Votes
            <span>{{vote_average}}</span>
            <span>/</span>
            <span>{{vote_count}}</span>
        </p>
    
        <p class="popularity">Popularity
            <span>{{popularity}}</span>
        </p>
    
        <p class="original-title">Original Title
            <span>{{original_title}}</span>
        </p>
    
        <p class="genre">Genre
            <span>{{genres}}</span>
        </p>
    
        <p class="modal-about">About</p>
        <p class="modal-movie-description">{{overview}}</p>
    </div>
    <div class="modal-btn-contaainer">

        <label class="label">
            <input type="checkbox" value="Watched" class="watched-btn" />
            <span class="storage__btn" id="js-watched-btn">Add To Watched</span>
        </label>
        
        <label class="label">
            <input type="checkbox" value="Queue" class="queue-btn" />
            <span class="storage__btn" id="js-queue-btn">Add To Queue</span>
        </label>
        
    </div>
</div>
