<div class="modal-movie-card" data-id={{id}}>
    <div class="modal-poster-container">
        <img src="https://image.tmdb.org/t/p/w154{{poster_path}}" alt="{{original_title}} poster" data-id={{id}}>
    </div>

    <div class="card-descr-container">

        <h1 class="modal-movie-title">{{title}}</h1>

        <div class="card-descr-elements">

            <p class="elem">Vote / Votes
                <span class="vote"> <span class="vote-average">{{vote_average}}</span> / <span
                        class="vote-count">{{vote_count}}</span></span>
            </p>

            <p class="elem">Popularity
                <span class="pop">{{popularity}}</span>
            </p>

            <p class="elem">Original Title
                <span class="original">{{original_title}}</span>
            </p>

            <p class="elem">Genre{{#each genres}}
                <span class="genre">{{this.name}}</span>
                {{/each}}
            </p>

        </div>

        <p class="modal-about">About</p>
        <p class="modal-movie-description">{{overview}}</p>
    </div>
    
    <div class="btn-container">

        <button type='button' 
        class="watched" 
        data-id={{id}}
        data-backdrop={{backdrop_path}}
        data-title={{original_title}}
        data-poster={{poster_path}}
        data-genre={{genre_ids}}
        data-release={{release_date}}>Add to watched</button>
        
        <button type='button' 
        class="queue" 
        data-id={{id}}
        data-backdrop={{backdrop_path}}
        data-title={{original_title}}
        data-poster={{poster_path}}
        data-genre={{genre_ids}}
        data-release={{release_date}}>Add to queue</button>

    </div>
    

</div>

